$main : rgb(17, 15, 15);
$first : red;
    $children_of_first : lightpink;
$second: green;
    $first_child_of_second : rgb(231, 201, 145);
    $second_child_of_second : deeppink;
        $grand_children_of_second: pink;
    $third_child_and_grand_children_of_second : purple;
$third: blue;
    $children_of_third: rgb(148, 200, 218);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body{
    height: 98vh;
    overflow: hidden;
    border: 2px solid;
    margin: 0.5%; 
}

.main{
    display: grid;
    grid-template-rows: 2fr 12fr 1fr;
    grid-template-areas: "first first"
                         "second second"
                         "third third";
    grid-gap: 0.5rem;
    height: 100%;
    padding: 0.5%;
}
.first_main{
    border: 2px solid $first;
    grid-area: first;
    .child2{
        border: 2px solid $children_of_first;
    }
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5rem;
    padding: 0.5%;
    .child1{
        display: grid;
        grid-template-columns: 5% 15%;
        grid-gap: 80%;
        *{
            border: 2px solid $children_of_first;
        }
        .child22{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 3%;
            grid-gap: 0.5em;
        }
    }
}

.second_main{
    border: 2px solid $second;
    grid-area: second;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-gap: 0.5rem;
    height: 100%;
    padding: 0.5%;
    .first{
        border: 2px solid $first_child_of_second;
        display: grid;
        grid-template-columns: 1fr 2fr ;
        padding: 0.5%;
        grid-gap: 0.5rem;
        *{
            border: 2px solid $first_child_of_second;
        }
    }
    .second{
        border: 2px solid $second_child_of_second;
        display: grid;
        grid-template-rows: 1fr 1fr ;
        grid-gap: 0.5rem;
        padding: 0.5%;
        
        .child1{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-gap: 0.5rem;
            div{
                border: 2px solid $grand_children_of_second;
            }
        }
        .child2{
            border: 2px solid $grand_children_of_second;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            padding: 0.5%;
            grid-gap: 0.5rem;
            div{
                border: 2px solid $grand_children_of_second;
            } 
        }
    }
    .third{
        border: 2px solid $third_child_and_grand_children_of_second;
        display: grid;
        grid-template-columns: 1fr 2fr ;
        padding: 0.5%;
        grid-gap: 1rem;
        .child1, .child11, .child22 div{
            border: 2px solid $third_child_and_grand_children_of_second;
        }
        .child2{
            display: grid;
            grid-template-rows: 1fr 2fr ;
            grid-gap: 1rem;
            .child22{
                display: grid;
                grid-template-columns: 1fr 1fr ;
                grid-gap: 1.5%;
            }
        }
    }
}

.third_main{
    border: 2px solid $third;
    grid-area: third;
    display: grid;
    padding: 0.5%;
    grid-template-columns: 15% 15%;
    grid-gap: 70%;
    *{
        border: 2px solid $children_of_third;
    }
    .child2{
        padding: 2.5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 4.5%;
    }
}